<!-- to use the ngModel we need to import FormsModule in app.module
    import { FormsModule } from '@angular/forms'; -->
<div class="list-group">
  <div class="list-group-item">
    <div class="list-group-item-heading"><h4>String Interpolation - used to send data from TS to HTML</h4></div>
    <div class="list-group-item-text">{{ 'String' }}{{ dummy }}{{ sendDummy() }}</div>
  </div>
  <div class="list-group-item">
    <div class="list-group-item-heading">
      <h4>
        Property Binding - [] brackets binds the property value to the varible we assign
      </h4>
    </div>
    <div class="list-group-item-text">
      <button class="btn btn-primary" [disabled]="buttonDisabled">Button</button>
      <p [innerText]="buttonDisabled"></p>
    </div>
  </div>
  <div class="list-group-item">
    <div class="list-group-item-heading"><h4>Event Binding - used to send data from HTML to TS</h4></div>
    <div class="list-group-item-text">
        <button class="btn btn-primary" (click)="onButtonClicked()">Button</button>
        <p>{{ buttonStatus }}</p>
    </div>
  </div>
  <div class="list-group-item">
    <div class="list-group-item-heading"><h4> Event binding Use Case - $event is a reserved variable name for Event Binding. In this case it is data user entered</h4></div>
    <div class="list-group-item-text">
        <input type="text" (input)="onInputChange($event)" class="form-control">
        <p>{{ inputData }}</p>
    </div>
  </div>
  <div class="list-group-item">
    <div class="list-group-item-heading"><h4>Two Way Binding</h4></div>
    <div class="list-group-item-text">
        <input type="text" [(ngModel)]="name" class="form-control">
        <p>{{ name }}</p>
    </div>
  </div>
</div>
