<div class="container border">
  <div class="row">
    Data Binding
  </div>
  <div class="row">
    <app-data-binding></app-data-binding>
  </div>
</div>

<div class="container border">
  <div class="row">
    Component
  </div>
  <div class="row">
    <app-server></app-server>
  </div>
</div>

<div class="container border">
  <div class="row">
    Selector using Attribute
  </div>
  <div class="row">
    <div app-selector-attribute></div>
  </div>
</div>

<div class="container border">
  <div class="row">
    Selector using Class
  </div>
  <div class="row">
    <div class="app-selector-class"></div>
  </div>
</div>