<div class="container">
  <div class="row">
    <div class="col-xs-12">
      
      <div class="panel panel-default">
        <div class="panel-heading">
          Data Binding
        </div>
        <div class="panel-body">
          <app-data-binding></app-data-binding>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          Parent to Child Communication - Component Property Binding to Send Data from parent to Child
        </div>
        <div class="panel-body">
            <app-component-binding
              [childProperty]="childText"
              [childAlias]="childAlias"
              [eventEmittion]="false"
              ></app-component-binding>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          Child to Parent Communication - Event Emittion from Child - Custom Event Creation
        </div>
        <div class="panel-body">
          <!-- buttonClicked is used event binding for sending events from child to parent
            $event is different from normal $event used in default event handlers. here they just give data sent by child -->
            <app-component-binding
              [eventEmittion]="true"
              (buttonClicked)="buttonClickedInChild($event)"
              ></app-component-binding>
            {{ eventEmittedText }}
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          Using Local Reference
        </div>
        <div class="panel-body">
          <div class="col-xs-3">
            <input type="text" class="form-control" #inputLocalRef />
          </div>
          <div class="col-xs-3">{{ inputLocalRef.value }}</div>
          <div class="col-xs-3">
            <button
              class="btn btn-primary"
              type="button"
              (click)="refButtonClicked(inputLocalRef)"
            >
              Get Ref Val
            </button>
          </div>
          <div class="col-xs-3">{{ valueOnRefButtonClicked }}</div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          Custom Attribute Directive
        </div>
        <div class="panel-body">
          <p appBasicHighlight>Custom Attribute Directive Working</p>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          Custom Better Attribute Directive
        </div>
        <div class="panel-body">
          <p appBetterHighlight>Custom Better Attribute Directive Working</p>
        </div>
      </div>
    
      <div class="panel panel-default">
        <div class="panel-heading">
          Making a Component
        </div>
        <div class="panel-body">
          <app-server></app-server>
        </div>
      </div>
    
      <div class="panel panel-default">
        <div class="panel-heading">
          Selector using Attribute
        </div>
        <div class="panel-body">
          <div app-selector-attribute></div>
        </div>
      </div>
    
      <div class="panel panel-default">
        <div class="panel-heading">
          Selector using Class
        </div>
        <div class="panel-body">
          <div class="app-selector-class"></div>
        </div>
      </div>

    </div>
  </div>
</div>
